@media only screen and (max-width: 767px) {
  body h1 {
    font-size: 2rem; }
  body h3 {
    font-size: 25px; }
  body p {
    font-size: .5rem; } }

header {
  margin: 0;
  padding: 0;
  font-size: 15px; }
  header h1 {
    text-align: center;
    align-items: center;
    text-decoration: dotted;
    font-family: Courier New monospace; }
    header h1 p {
      text-align: center;
      align-content: center;
      font-family: Courier New monospace;
      font-size: 15px;
      margin: 25px;
      padding: 20px; }

main {
  padding: 0;
  margin: 0;
  align-content: center; }
  main section .carousel-indicators .carousel-inner {
    align-items: center; }
    main section .carousel-indicators .carousel-inner img {
      width: 100px;
      height: 100px; }
      main section .carousel-indicators .carousel-inner img p {
        font-size: 40px; }
  main .container {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding: 32px;
    background-color: black; }
  main .descripcion1 {
    text-align: center;
    justify-content: center; }
  main .parallax {
    height: 500px;
    background-image: url(/images/parallax.webp);
    background-size: cover;
    background-attachment: fixed; }
  main p {
    text-align: center;
    justify-content: centers;
    background-color: black;
    color: white; }

nav .navbar-brand {
  width: 100px; }
  nav .navbar-brand .navbar-toggler {
    width: 100px; }
    nav .navbar-brand .navbar-toggler ul {
      font-size: 20px; }
      nav .navbar-brand .navbar-toggler ul li {
        list-style: none; }
        nav .navbar-brand .navbar-toggler ul li a {
          color: black; }
          nav .navbar-brand .navbar-toggler ul li a:hover {
            color: black; }

footer {
  bottom: 0;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #191970; }
  footer img {
    width: 50px;
    height: 50px; }
