@media only screen and (max-width: 767px) {
  body h1 {
    font-size: 2rem; }
  body h3 {
    font-size: 25px; }
  body p {
    font-size: .5rem; } }

header {
  width: 100px;
  height: 100px;
  font-size: 15px;
  background-color: black;
  color: white; }
  header h1 {
    text-align: center;
    align-items: center;
    text-decoration: dotted;
    font-family: Courier New monospace;
    color: white; }
    header h1 p {
      text-align: center;
      align-content: center;
      font-family: Courier New monospace;
      font-size: 15px;
      margin: 0;
      padding: 0;
      color: white; }

main {
  padding: 0;
  margin: 0;
  align-content: center;
  background-color: black; }
  main .container {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding: 32px;
    background-color: black; }
  main .descripcion1 {
    background-color: black; }
  main .parallax {
    height: 500px;
    background-image: url(/images/parallax.webp);
    background-size: cover;
    background-attachment: fixed; }
  main p {
    text-align: center;
    justify-content: centers;
    background-color: black;
    color: white; }

nav .container-fluid {
  background-color: #f08d5c; }
  @media screen and (max-width: 576px) {
    nav .container-fluid {
      display: flex;
      flex-direction: column; } }

nav .navbar-brand {
  width: 100px; }
  nav .navbar-brand .navbar-toggler {
    width: 100px; }
    nav .navbar-brand .navbar-toggler ul {
      font-size: 20px; }
      nav .navbar-brand .navbar-toggler ul li {
        list-style: none; }
        nav .navbar-brand .navbar-toggler ul li a {
          color: black; }
          nav .navbar-brand .navbar-toggler ul li a:hover {
            color: black; }

footer {
  padding: 0;
  margin: 0;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background: #f08d5c; }
  @media screen and (max-width: 576px) {
    footer {
      display: flex;
      flex-direction: column; } }
  footer img {
    width: 50px;
    height: 50px; }
  footer p {
    color: black; }
