header {
        width: 100px;
        height: 100px;
        font-size: $tamañoheader;
        background-color: black;
        color: white;
        
        

         

     h1 { text-align: center;
         align-items: center;
         text-decoration: dotted;
         font-family: $textoheader;
         color: white;
         
        p { 
            text-align: center;
            align-content: center;
            font-family: $textoheader;
            font-size: $tamañoheader;
            margin: 0;
            padding: 0;
            color: white;
            
       }
}

}




