header {
        
     h1 { text-align: center;
         align-items: center;
         text-decoration: dotted;
         font-family: $textoheader;
         color: white;
         
        p { 
            text-align: center;
            align-content: center;
            font-family: $textoheader;
            font-size: $textotiulo;
            margin: 0;
            padding: 0;
            color: white;
            
            
          }
     }
 

   
.titulo {
     background-color: black;
     padding: 0;
     margin: 0;
 }
}




