main { 
        padding: 0;
        margin: 0;
        align-content: center;
    
    
    section { 
       
        
        
        .carousel-indicators{
            

        
            .carousel-inner{
                align-items: center;
                

                img { width: 100px;
                      height: 100px;

                      

                    p {
                        font-size: $tamañomain *2;
                    }
            
            }

            
          }
        }
    }
    .container{
        max-width:1080px;
        width:100%;
        margin:auto;
        padding:32px;
        background-color: black;
     }
                 
     .descripcion1{
        text-align: center;
        justify-content: center;
     }
     .parallax{
        height:500px;
        background-image:url(/images/parallax.webp);
        background-size:cover;
        background-attachment: fixed;
        } 
    
    
        p{
        text-align: center;
        justify-content: centers;
        background-color: black;
        color: white;

       
        
        

    }
}