main { 
        padding: 0;
        margin: 0;
        align-content: center;
        background-color: #62696a !important;
    
    
  
    .container{
        max-width:1080px;
        width:100%;
        margin:auto;
        padding:32px;
        background-color: #62696a !important;
     }
                 
     .descripcion1{
        background-color: #62696a !important;
        
     }
     .parallax{
        height:500px;
        background-image:url(/images/parallax.webp);
        background-size:cover;
        background-attachment: fixed;
        background-color: #62696a !important;
        } 
    
    
        p{
        text-align: center;
        justify-content: center;
        background-color: black;
        color: white;
        padding: 0;
        margin: 0;

    
    }
   
    

 }

