nav{  
    .container-fluid {
        @include mobile {
            display: flex;
            flex-direction: column;
        }
     background-color: $navfot;
     
    }


     .navbar-brand { width: 100px;
                
        .navbar-toggler { width: 100px;
                
             ul { font-size: 20px;
                
                
                li { 
                    list-style: none;
                    
                    a { 
                        color: black;
                    
                    &:hover {

                        color: black;

                    }  
                    }
                }
            }
          }   
        }
            
    }

