nav{  margin-top: 0;
      
     
    .container-fluid {
        @include mobile {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
        }
     background-color: $navfot;
     
     
    }

    


     .navbar-brand { margin: 0;
                     padding: 0;
                
        .navbar-toggler {

            .nav-item {  margin: 0;
                padding: 0;

            }             
                
             ul { font-size: 20px;
                
                
                li { 
                    list-style: none;
                    
                    a { 
                        color: #dd9c52 ;
                    
                    &:hover {

                        color:#dd9c52;

                    }  
                    }
                }
            }
          }   
        }
            
    }

