	$vista: mobile;
		
	body{
		@if $vista == desktop {
		@media only screen and (min-width:1024px){
			h1{
				font-size: 3rem;}
			h3{
				font-size:35px;}
			p{
				font-size: 1rem;}
			}
		} @else if $vista == mobile {
			@media only screen and (max-width:767px){
				h1{
					font-size: 2rem;}
				h3{
					font-size:25px;}
				p{
					font-size: .5rem;}
			}
		} @else {
			h1{
				font-size:34px;}
			h3{
				font-size:25px;}
			p{
				font-size:20px;}
		}
	}
