//COLORES
$colorespecial: #62696a;
$footer: #575770;
$navfot: #e6b378;






//MEDIDAS

$textotiulo: 25px;
$tamañomain: 20px;


//FUENTES

$textoheader: Courier New (monospace);
$titulo5: italic;







