//COLORES
$colorespecial: coral;
$footer: #575770;
$navfot: #f08d5c;






//MEDIDAS

$textotiulo: 25px;
$tamañomain: 20px;


//FUENTES

$textoheader: Courier New (monospace);
$titulo5: italic;







